@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    width: 100vw;
    height: 100vh;
}


#app ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

#app ::-webkit-scrollbar-corner {
    background-color: transparent;
}

#app ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 10px;
}

#app ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px;
}

.cm-editor {
    height: 100%;
}



